@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  background: #fffaf0;
  font-family: Pretendard-Regular, sans-serif;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font: inherit;
}

input,
button {
  font: inherit;
}

button {
  border: 0;
  padding: 0;
  background: none;
}

button:enabled {
  cursor: pointer;
}

ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* header */
.header {
  background-color: #fff;
}

.max-width {
  width: 1284px;
  /* 1284px보다 커지면 부모를 넘지 않고 좌우 여백 30px */
  max-width: calc(100% - 60px);
  margin: auto;
}

.header .max-width {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  width: 156px;
}

.header .login-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header .login-text p::after {
  content: "|";
  color: #d8ddde;
  margin-left: 24px;
}

.header .login-text strong {
  box-shadow: inset 0 -0.5em rgba(255, 79, 110, 0.8);
  font-family: Pretendard-Bold;
}

@media (max-width: 600px) {
  .header .login-text p {
    position: absolute;
    top: 90px;
    right: 30px;
  }
  .header .login-text p::after {
    display: none;
  }
}

/* footer */
.footer {
  text-align: center;
  color: #677880;
  font-size: 12px;
  margin-bottom: 50px;
}

/* button */
[class^="btn"] {
  /* 부모에 flex가 있으면 width, height 값을 줄 수 있지만 유지보수를 위해 inline-block 해주는게 좋다 + flex를 같이 줄거면 inline-flex */
  display: inline-flex;
  height: 40px;
  padding: 0 20px 0 52px;
  background-color: #fff;
  align-items: center;
  /* 사용자에게 안읽혀도 되는 아이콘/로고이면 보통 background, 가상요소로 처리 */
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 10px 50%;
}
.btn-join {
  background-image: url(../img/icon-join.svg);
}

.btn-logout {
  background-image: url(../img/icon-logout.svg);
}

/* login */
.login {
  margin-top: 70px;
}

.main-title {
  width: 250px;
  margin: auto;
  text-align: center;
}

.main-title svg {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

@keyframes heart-move {
  100% {
    stroke: #ffc7d1;
    stroke-width: 2px;
    scale: 2;
  }
}

.svg-heart {
  stroke: transparent;
  stroke-width: 0.2;
  scale: 2.5;
  transform-origin: 50% 20px;
  animation: heart-move 0.5s ease infinite alternate;
}

.main-title strong {
  color: #29363d;
  box-shadow: inset 0 -0.5em hsla(349, 100%, 65%, 0.2);
  border-bottom: 2px solid #ff4f6e;
}

/* form */
.form label {
  display: block;
  color: #29363d;
  margin-bottom: 8px;
}

.form input {
  width: 100%;
  height: 48px;
  padding: 0 15px;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #677880;
  border-radius: 4px 4px 0px 0px;
}

.form > div {
  margin-bottom: 24px;
}

.form button[type="submit"] {
  width: 100%;
  height: 48px;
  border: 0;
  background-color: #29363d;
  color: #f4f5f5;
  font-size: 16px;
  border-radius: 4px;
}

/* login form */
.login .form {
  width: 392px;
  margin: 40px auto 50px;
}

/* diary form */
.form textarea {
  display: block;
  width: 100%;
  height: 360px;
  border: 1px solid #677880;
  border-radius: 4px;
  resize: none;
  font: inherit;
  box-sizing: border-box;
  padding: 15px;
}
